@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
html,
body{
    font-family: 'Poppins', monospace;
    ::-webkit-scrollbar {
        width: 20px;
        height: 20px;
      }
      ::-webkit-scrollbar-thumb {
        background-color: #626262;
        border-radius: 20px;
        border: 6px solid transparent;
        background-clip: padding-box;
        box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.2),
          inset -5px -5px 10px rgba(0, 0, 0, 0.2);
      }

    
}
  